<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mind.mind_warehouse.mapper.EmpRoleMapper">
  <resultMap id="BaseResultMap" type="com.mind.mind_warehouse.entity.EmpRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mw_emp_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mind.mind_warehouse.entity.EmpRole">
    insert into mw_emp_role (id, emp_id, role_id, 
      creat_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mind.mind_warehouse.entity.EmpRole">
    update mw_emp_role
    set emp_id = #{empId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, emp_id, role_id, creat_time, update_time
    from mw_emp_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, emp_id, role_id, creat_time, update_time
    from mw_emp_role
  </select>
<!--  int insertRoleIdsByEmpId(@Param("empId") Integer empId,@Param("RoleIds") List<Integer> RoleIds);-->
<insert id="insertRoleIdsByEmpId">
  insert into mw_emp_role(emp_id,role_id)values
    <foreach collection="RoleIds" item="roleId" separator=",">
      (#{empId},#{roleId})
    </foreach>
</insert>
</mapper>