<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mind.mind_warehouse.mapper.UnitsMapper">
  <resultMap id="BaseResultMap" type="com.mind.mind_warehouse.entity.Units">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mw_units
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mind.mind_warehouse.entity.Units">
    insert into mw_units (code, name,
      note, create_time, update_time, 
      is_delete)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{note,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      0)
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mind.mind_warehouse.entity.Units">
    update mw_units
    set
      name = #{name,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, code, name, note, create_time, update_time, is_delete
    from mw_units
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, code, name, note, create_time, update_time, is_delete
    from mw_units
    where is_delete = 0
  </select>


  <select id="selectUnitsByCons" resultMap="BaseResultMap">
        select * from mw_units n
        <where>
          <if test="code != null and code.toString().trim() != ''">
            and n.code like '%${code}%'
          </if>
          <if test="name != null and name.toString().trim() != ''">
            and n.name like '%${name}%'
          </if>
          and is_delete = 0
        </where>
  </select>



</mapper>